@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Style+Script&display=swap');

body, html {
    scroll-behavior: smooth;
}

body {
    @apply bg-sage-100;
    font-family: "Enriqueta", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Style Script", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
}

div.overlay {
    background-color: rgba(255, 228, 189, 0.3);
}

.icon {
    display: inline-block;
    vertical-align: -0.25em;
}

button, a.button {
    @apply bg-flesh-200 hover:bg-flesh-300 disabled:bg-flesh-100;
    @apply text-black text-lg text-center inline-block p-2;
    @apply transition-transform active:scale-95 disabled:active:scale-100;
}

button.wide, a.button.wide {
    @apply w-full;
}

button.big, a.button.big {
    @apply p-4 text-2xl;
}

button.secondary, a.button.secondary {
    @apply bg-gray-100 hover:bg-gray-200;
}